.App {
  text-align: center;
  flex:1;

  display: flex;
  flex-direction: row;

  background: #262626;  
  margin: 1%;
  margin-top: 3%;
}

.App .center-col {
  background: linear-gradient(
    to bottom,
    #878787,
    #878787 80%,
    #262626 80%,
    #262626
  );
  background-size: 100% 34%;
}

.App .buttons {
  background: #d5d5d5;
  display: inline-block;
}

.App .button-wrapper {
  display: inline-block;
  text-align: center;
  margin: 5px;
}

.App .button {
  display: inline-block;  
  width: 4em;
  height: 1.5em;
}




.App .center-col .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

.App .center-col .buttons span {
  font-size: 0.8em;
}

.App .center-col .button {
  background: black;  
}


.App .actions-buttons {
  position: relative;
}

.App .actions-buttons .buttons-row {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.App .actions-buttons .button {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background: #fb0007;
}




.App .left-column {
  position: relative;
  color: #878787;
  /* text-align: left; */
}

.App .left-column .direction-buttons {
  position: absolute;
  bottom: 5%;
  width: 70%;
  margin-left: -33%;
  background: none;
}

.App .left-column .button {
  /* border: 1px solid; */
}

.App .left-column .direction-buttons .button {
  background: #0e0e0e;
  position: absolute;
}

.App .left-column .up .button,
.App .left-column .bottom .button {
  width: 3em;
  height: 3.5em;
}

.App .left-column .left .button,
.App .left-column .right .button {
  width: 3.5em;
  height: 3em;
}

.App .left-column .up .button {
  top: -600%;
  left: 30%;
}

.App .left-column .bottom .button {
  top: -250%;
  left: 30%;
}

.App .left-column .left .button {
  top: -400%;
  left: 5%;
}

.App .left-column .right .button {
  top: -400%;
  left: 50%;
}